h1,
h3 {
    color: #009999;
    font-size: 2rem;
    margin-top: 2rem;
}

.contact_info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact {
    width: 33%;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #009999;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
    margin-bottom: 2px;
    color: white;
}

button:hover {
    background-color: #178888;
}


/* address */

.address {
    width: 33.3%;
    color: gray;
    /* margin: auto; */
}

.address p {
    margin-top: 23px;
    margin-bottom: 50px;
    line-height: 1.3rem;
}

.address address {
    margin-bottom: 50px;
}

.address ul li {
    margin-bottom: 30px;
}

a:link {
    color: gray;
}

a:hover {
    color: #009999;
}


/* card layout */

.cards_pics {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 24%;
    padding: 10px;
    border: 0;
    margin-bottom: 50px;
}

.title {
    color: rgb(176, 86, 86);
}

.card p {
    color: gray;
}

.card a {
    padding: 10px;
    background-color: #f2f2f2;
}


/* media query  */

@media only screen and (max-width:720px) {
    .contact_info {
        margin: auto;
        padding: 5px;
    }
    .contact {
        width: 100%;
    }
    .address {
        width: 100%;
    }
    .location {
        width: 100%;
    }
    .card {
        width: 100%;
    }
}

@media only screen and (max-width:520px) {
    h3 {
        font-size: 2rem;
    }
    .contact_info {
        margin: auto;
        padding: 5px;
    }
    .contact {
        width: 100%;
    }
    .address {
        width: 100%;
    }
    .location iframe {
        width: 100%;
    }
    .card {
        width: 100%;
    }
}