* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


/* styling nav  */

.nav_logo {
    color: #3399CC;
    font-size: 1.6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
    margin-left: 0.4rem;
}


/* hover effect on links */

a:hover {
    color: #3c39c2;
    padding-bottom: 0.5rem;
}

.nav_link_1:hover {
    border-bottom: 4px solid #33CCFF;
}

.nav_link_2:hover {
    border-bottom: 4px solid #dc593ccb;
}

.nav_link_3:hover {
    border-bottom: 4px solid #3abd54af;
}

.nav_link_4:hover {
    border-bottom: 4px solid #9638b0;
}


/* header */

header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/hero.jpg);
}

input {
    color: #009999;
    height: 50px;
    width: 300px;
}

button {
    background-color: #009999;
    height: 50px;
    width: 100px;
    margin-left: -5px;
}